<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

  <title>Turbo RPS 3000!</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <a href="rock.html" type="button" class="btn btn-primary">Play Rock</a>
        <a href="paper.html" type="button" class="btn btn-info">Play Paper</a>
        <a href="scissors.html" type="button" class="btn btn-primary">Play Scissors</a>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <hr>
</div>




<%= yield %>

</body>
</html>
